{% extends 'base.html' %} 
{% block title %}Psyllid Report{{ block.super }}{% endblock %} 

{% block header %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
<style>
    td.highlightRed {
        font-weight: bold;
        color: white;
        background-color: #e58989;
    }
    td.highlightGreen {
        font-weight: bold;
        color: white;
        background-color: #6cc772;
    }
    
    td.details-control {
        background: url('http://icons.iconarchive.com/icons/martz90/circle-addon1/24/text-plus-icon.png') no-repeat center center;
        cursor: pointer;
    }
    
    tr.shown td.details-control {
        background: url('http://icons.iconarchive.com/icons/sekkyumu/developpers/24/Minus-Red-Button-icon.png') no-repeat center center;
    }
    
</style>

<style>
    .bigContainer { border:2px solid #ccc; height: 250px; overflow-y: scroll; };
</style>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #e6e6e6;
    }
    tr:hover {
        background-color: #d9e6f2
    }
    table-fixed thead {
      width: 97%;
    }
    .table-fixed tbody {
      height: 400px;
      overflow-y: scroll;
      width: 100%;
    }
    

</style>



<style>
    .checkContainer { border:2px solid #ccc; height: 100px; overflow-y: scroll; }
</style>

{% endblock %}
{% block content %}


{% csrf_token %}

<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a id="tab1" href="#table" role="tab" data-toggle="tab">Table</a></li>
    <li><a id="tab2" href="#graph" role="tab" data-toggle="tab">Graph</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="table">
        <div class="wrapper"> 
            <div >
                <h5 style="margin-top: 2vh; text-align: center">Psyllid Report</h5>
                <table id="myTable" class="table hover" data-toggle="table" style="margin:0px;">
                    <thead>
                        <tr class="info" >
                            <th style="text-align:center"></th>
                            <th style="text-align:center">Block</th>
                            <th style="text-align:center">Spray Date</th>
                            <th style="text-align:center">Scout Date</th>
                            <th style="text-align:center">Visual ACP Total</th>
                            <th style="text-align:center">Eggs + Nymphs Total</th>
                            <th style="text-align:center">Adult Tapped Total</th>
                            <th style="text-align:center">% Avg Flushing Trees</th>
                            <th style="text-align:center">Notes</th>
                            
                        </tr>
                    </thead>
                    <tbody id="tbody1">

                    </tbody>
                </table>
            </div>
        </div>
        <div style="margin-left: 0.5vw">
            <h5 style="margin-top: 2vh; text-align: center">Filter</h5>
            <div>
                <h6 style="margin-bottom:0.5vh">Start Date: </h6>
                <div class="container" style="margin-left:0%;">
                    <div class="input-group date" data-provide="datepicker-inline" data-date-today-highlight="true" style="width:40vw;margin-top:1vh;position:relative;float:left;">
                        <input type="text" id="startDate" name="startDate" style='width:100%' readonly="true" value="Date">
                    </div>
                </div>
                <h6 style="margin-bottom:0.5vh">End Date:</h6>
                <div class="container" style="margin-left:0%;">
                    <div class="input-group date" data-provide="datepicker-inline" data-date-today-highlight="true" style="width:40vw;margin-top:1vh;position:relative;float:left;">
                        <input type="text" id="endDate" name="endDate" style='width:100%' readonly="true" value="Date">
                    </div>
                </div>
                <br>
                    <input type="button" class="btn btn-primary" value="Update" onclick="updateDates();" 
                           style="float: right;margin-bottom:20px;width: 150px;">
            </div>
        </div>
    </div>
    <div class="tab-pane" id="graph">
        <div class="wrapper"> 
            <section class="main">
                <h5 style="margin-top: 2vh; text-align: center">Average Psyllids Populations Over Time</h5>
                <div class="chart-container" style="position: relative; width:100vw;">
                    <canvas id="myChart" width="400" height="200"></canvas>
                </div>
            </section>
            <div>
                <h6 style="margin-bottom:0.5vh">Start Date: </h6>
                <div class="container" style="margin-left:0%;">
                    <div class="input-group date" data-provide="datepicker-inline" data-date-today-highlight="true" style="width:10vw;margin-top:1vh;position:relative;float:left;">
                        <input type="text" id="graphStartDate" name="graphStartDate" style='width:40vw' readonly="true" value="Date">
                    </div>
                </div>
                <h6 style="margin-bottom:0.5vh">End Date:</h6>
                <div class="container" style="margin-left:0%;">
                    <div class="input-group date" data-provide="datepicker-inline" data-date-today-highlight="true" style="width:10vw;margin-top:1vh;position:relative;float:left;">
                        <input type="text" id="graphEndDate" name="graphEndDate" style='width:40vw' readonly="true" value="Date">
                    </div>
                </div>
                <br>
                <input type="button" class="btn btn-primary" value="Update" onclick="updateGraph();" 
                    style="float: right;margin-bottom:20px;width: 150px;">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var picker = new Pikaday(
    {
        field: document.getElementById('startDate'),
        firstDay: 1,
        minDate: new Date(2017, 3, 3),
        format: 'MM/DD/YYYY',
        yearRange: [2017,2050]
    });
    var picker2 = new Pikaday(
        {
        field: document.getElementById('endDate'),
        firstDay: 1,
        minDate: new Date(2017, 3, 3),
        format: 'MM/DD/YYYY',
        yearRange: [2017,2050]
        });
    var picker3 = new Pikaday(
    {
        field: document.getElementById('graphStartDate'),
        firstDay: 1,
        minDate: new Date(2017, 3, 3),
        format: 'MM/DD/YYYY',
        yearRange: [2017,2050]
    });
    var picker4 = new Pikaday(
        {
        field: document.getElementById('graphEndDate'),
        firstDay: 1,
        minDate: new Date(2017, 3, 3),
        format: 'MM/DD/YYYY',
        yearRange: [2017,2050]
        });
    
</script>

<!-- Autofills the current date in the date box -->
<script type="text/javascript">
    function getDate() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        var lastWeek = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 7);
        var lastYear = new Date(today.getFullYear() - 1, today.getMonth(), today.getDate());
        var dd2 = lastWeek.getDate();
        var mm2 = lastWeek.getMonth()+1;
        var yyyy2 = lastWeek.getFullYear();
        var dd3 = lastYear.getDate();
        var mm3 = lastYear.getMonth()+1;
        var yyyy3 = lastYear.getFullYear();
        if(dd<10) {
            dd='0'+dd
        } 
        if(mm<10) {
            mm='0'+mm
        }
        if(dd2<10) {
            dd2='0'+dd2
        } 
        if(mm2<10) {
            mm2='0'+mm2
        } 
        if(dd3<10) {
            dd3='0'+dd3
        } 
        if(mm3<10) {
            mm3='0'+mm3
        } 
        
        today = mm+'/'+dd+'/'+yyyy;
        lastWeek =  mm2+'/'+dd2+'/'+yyyy2;
        lastYear =  mm3+'/'+dd3+'/'+yyyy3;
        document.getElementById("startDate").value = lastWeek;
        document.getElementById("endDate").value = today;
        document.getElementById("graphStartDate").value = lastYear;
        document.getElementById("graphEndDate").value = today;
      }
</script>

<script type="text/javascript">
    window.onload = function pageLoad(){
        getDate();
        fillData()
    }
</script>

<script>
function format ( d ) {
    // `d` is the original data object for the row
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td > Eggs/Nymphs </td>'+
            '<td>' + d[5] + '</td>'+
        '</tr>'+
        '<tr>'+
            '<td> Tapped: </td>'+
            '<td>'+d[6]+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Flush %:</td>'+
            '<td>'+d[7]+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Notes: </td>'+
            '<td>'+d[8]+'</td>'+
        '</tr>'+
    '</table>';
}        
</script>        
        
<script>
    function fillData() {
        var old_tbody = document.getElementById('tbody1');
        var new_tbody = document.createElement('tbody');
        new_tbody.setAttribute('id', 'tbody1') 
        old_tbody.parentNode.replaceChild(new_tbody, old_tbody)
        var datatable = $('#myTable').DataTable();
        datatable.destroy();
        var psyllidData = {{ psyllid_json |safe }};
        var detailKeys = {{ detail_keys | safe}}
        console.log(detailKeys)
        console.log(psyllidData);
        keys = Object.keys(psyllidData);
        console.log(keys)
        for(var yy = 0; yy < keys.length; yy++) {
            var blockIter = psyllidData[keys[yy]].field_name
            console.log(blockIter)
            var sprayDateIter = psyllidData[keys[yy]].spray_date
            var dateIter = psyllidData[keys[yy]].scout_date
            var adultIter = psyllidData[keys[yy]].adult
            var eggsIter = psyllidData[keys[yy]].eggs
            var tappedIter = psyllidData[keys[yy]].tapped
            var flushIter = psyllidData[keys[yy]].flush
            var noteIter = psyllidData[keys[yy]].notes
            // Insert a row in the table at row index 0
            var myTable = document.getElementById("myTable").getElementsByTagName('tbody')[0]
            var newRow = myTable.insertRow(myTable.rows.length);
            newRow.setAttribute('id', yy) 
            // Insert a cell in the row at index 0
            var newCell1 = newRow.insertCell(0);
            var newCell2 = newRow.insertCell(1);
            var newCell3 = newRow.insertCell(2);
            var newCell4 = newRow.insertCell(3);
            var newCell5 = newRow.insertCell(4);
            var newCell6 = newRow.insertCell(5);
            var newCell7 = newRow.insertCell(6);
            var newCell8 = newRow.insertCell(7);
            var newCell9 = newRow.insertCell(8);
            var totalAdult = 0;
            var totalEggs = 0
            var totalTapped = 0
            var totalFlush = 0
            for(var i=0,n=adultIter.length; i<n; ++i)
            {
                totalAdult += adultIter[i];
                totalEggs += eggsIter[i];
                totalTapped += tappedIter[i];
                totalFlush += flushIter[i];
            }
            console.log(totalFlush)
            // Append a text node to the cell
            var newBlock = document.createTextNode(blockIter);
            var newSprayDate = document.createTextNode(sprayDateIter);
            var newDate = document.createTextNode(dateIter);
            var newAdult = document.createTextNode(totalAdult);
            var newEggs = document.createTextNode(totalEggs);
            var newTapped = document.createTextNode(totalTapped);
            var newFlush = document.createTextNode(totalFlush);
            var newNote = document.createTextNode(noteIter);
            newCell2.appendChild(newBlock);
            newCell3.appendChild(newSprayDate);
            newCell4.appendChild(newDate);
            newCell5.appendChild(newAdult);
            newCell6.appendChild(newEggs);
            newCell7.appendChild(newTapped);
            newCell8.appendChild(newFlush);
            newCell9.appendChild(newNote);
        }
        var update = $('#myTable').DataTable( {
            "createdRow": function ( row, data, index ) {
                if ( data[4].replace(/[\$,]/g, '') * 1 >= 10 ) {
                    $('td', row).eq(3).addClass('highlightRed');
                }
                if ( data[5].replace(/[\$,]/g, '') * 1 >= 20 ) {
                    $('td', row).eq(4).addClass('highlightRed');
                }
                if ( data[6].replace(/[\$,]/g, '') * 1 >= 5 ) {
                    $('td', row).eq(5).addClass('highlightRed');
                }
                if ( data[7].replace(/[\$,]/g, '') * 1 >= 50 ) {
                    $('td', row).eq(6).addClass('highlightGreen');
                }
            },
            "info": false,
            "pagingType": "simple",
            "lengthMenu": [[8, 25, 50, -1], [8, 25, 50, "All"]],
            columnDefs: [
                {
                    "targets": 0,
                    "className":      'details-control',
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": ''
                },
                { "width": "3%", "targets": 0 },
                { "width": "3%", "targets": 1 },
                { "width": "3%", "targets": 2 },
                { "width": "3%", "targets": 3 },
                { "width": "3%", "targets": 4 },
                { "width": "3%", "targets": 5 },
                { "width": "3%", "targets": 6 },
                { "width": "3%", "targets": 7 },
                {
                    targets: [0,1,2,3,4,5,6,7,8],
                    className: 'dt-center'
                },
                {
                    "targets": [ 2,5,6,7,8 ],
                    "visible": false,
                    "searchable": false
                },
          
              ],
            "order": [[ 1, "asc" ]]
        });
        console.log("here")
        // Add event listener for opening and closing details
        $('#myTable tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = update.row( tr );

            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( format(row.data()) ).show();
                tr.addClass('shown');
            }
        } );    
    }
</script>

<script>	
    function updateDates() {
        var old_tbody = document.getElementById('tbody1');
        var new_tbody = document.createElement('tbody');
        new_tbody.setAttribute('id', 'tbody1') 
        old_tbody.parentNode.replaceChild(new_tbody, old_tbody)
        var datatable = $('#myTable').DataTable();
        datatable.destroy();
        var startDate = document.getElementById("startDate").value
        var endDate = document.getElementById("endDate").value
        var flag = 'table'
        // Setting CSRF Token for AJAX POST Request
        var name = 'csrftoken';
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        var csrftoken = cookieValue;
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!(/^(GET|HEAD|OPTIONS|TRACE)$/.test(settings.type)) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        // Send all data and keys to backend via AJAX
        
        $.ajax({
            type: 'POST',
            url: '/psyllid_report_web',
            data: {
                'startDate': startDate,
                'endDate': endDate,
                'flag': flag
            },
            success: updateData,
        }) 
    }
</script>
        
<script>	
    function updateGraph() {
        var graphStartDate = document.getElementById("graphStartDate").value
        var graphEndDate = document.getElementById("graphEndDate").value
        
        var flag = 'graph'
        // Setting CSRF Token for AJAX POST Request
        var name = 'csrftoken';
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        var csrftoken = cookieValue;
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!(/^(GET|HEAD|OPTIONS|TRACE)$/.test(settings.type)) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        // Send all data and keys to backend via AJAX
        $.ajax({
            type: 'POST',
            url: '/psyllid_report_web',
            data: {
                'graphStartDate': graphStartDate,
                'graphEndDate': graphEndDate,
                'flag': flag
            },
            success: reDrawLineChart,
        }) 
    }
</script>

<script>
    function updateData(psyllid_data) {
        var psyllidData = psyllid_data
        console.log(psyllidData);
        keys = Object.keys(psyllidData);
        console.log(keys)
        for(var yy = 0; yy < keys.length; yy++) {
            var blockIter = psyllidData[keys[yy]].field_name
            var sprayDateIter = psyllidData[keys[yy]].spray_date
            var dateIter = psyllidData[keys[yy]].scout_date
            var adultIter = psyllidData[keys[yy]].adult
            var eggsIter = psyllidData[keys[yy]].eggs
            var tappedIter = psyllidData[keys[yy]].tapped
            var flushIter = psyllidData[keys[yy]].flush
            var noteIter = psyllidData[keys[yy]].notes
            
            // Insert a row in the table at row index 0
            var myTable = document.getElementById("myTable").getElementsByTagName('tbody')[0]
            var newRow = myTable.insertRow(myTable.rows.length);
            newRow.setAttribute('id', yy) 
            // Insert a cell in the row at index 0
            var newCell1 = newRow.insertCell(0);
            var newCell2 = newRow.insertCell(1);
            var newCell3 = newRow.insertCell(2);
            var newCell4 = newRow.insertCell(3);
            var newCell5 = newRow.insertCell(4);
            var newCell6 = newRow.insertCell(5);
            var newCell7 = newRow.insertCell(6);
            var newCell8 = newRow.insertCell(7);
            var newCell9 = newRow.insertCell(8);
            var totalAdult = 0;
            var totalEggs = 0
            var totalTapped = 0
            var totalFlush = 0
            for(var i=0,n=adultIter.length; i<n; ++i)
            {
                totalAdult += adultIter[i];
                totalEggs += eggsIter[i];
                totalTapped += tappedIter[i];
                totalFlush += flushIter[i];
            }
            // Append a text node to the cell
            var newBlock = document.createTextNode(blockIter);
            var newSprayDate = document.createTextNode(sprayDateIter);
            var newDate = document.createTextNode(dateIter);
            var newAdult = document.createTextNode(totalAdult);
            var newEggs = document.createTextNode(totalEggs);
            var newTapped = document.createTextNode(totalTapped);
            var newFlush = document.createTextNode(totalFlush);
            var newNote = document.createTextNode(noteIter);
            newCell2.appendChild(newBlock);
            newCell3.appendChild(newSprayDate);
            newCell4.appendChild(newDate);
            newCell5.appendChild(newAdult);
            newCell6.appendChild(newEggs);
            newCell7.appendChild(newTapped);
            newCell8.appendChild(newFlush);
            newCell9.appendChild(newNote);
            
            
        }
        var update = $('#myTable').DataTable( {
            "createdRow": function ( row, data, index ) {
                if ( data[4].replace(/[\$,]/g, '') * 1 >= 10 ) {
                    $('td', row).eq(3).addClass('highlightRed');
                }
                if ( data[5].replace(/[\$,]/g, '') * 1 >= 20 ) {
                    $('td', row).eq(4).addClass('highlightRed');
                }
                if ( data[6].replace(/[\$,]/g, '') * 1 >= 5 ) {
                    $('td', row).eq(5).addClass('highlightRed');
                }
                if ( data[7].replace(/[\$,]/g, '') * 1 >= 50 ) {
                    $('td', row).eq(6).addClass('highlightGreen');
                }
            },
            "info": false,
            "pagingType": "simple",
            "lengthMenu": [[8, 25, 50, -1], [8, 25, 50, "All"]],
            columnDefs: [
                {
                    "targets": 0,
                    "className":      'details-control',
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": ''
                },
                { "width": "3%", "targets": 0 },
                { "width": "3%", "targets": 1 },
                { "width": "3%", "targets": 2 },
                { "width": "3%", "targets": 3 },
                { "width": "3%", "targets": 4 },
                { "width": "3%", "targets": 5 },
                { "width": "3%", "targets": 6 },
                { "width": "3%", "targets": 7 },
                {
                    targets: [0,1,2,3,4,5,6,7,8],
                    className: 'dt-center'
                },
                {
                    "targets": [ 2,5,6,7,8 ],
                    "visible": false,
                    "searchable": false
                },
          
              ],
            "order": [[ 1, "asc" ]]
        });
        // Add event listener for opening and closing details
        $('#myTable tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = update.row( tr );

            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( format(row.data()) ).show();
                tr.addClass('shown');
            }
        } );
        
    }
    
</script>
        
<script>
drawLineChart();
function drawLineChart(){
    var element = document.getElementById("myChart");
    var parent = element.parentNode
    element.parentNode.removeChild(element);
    var canvas = document.createElement('canvas');
    canvas.id = "myChart";
    canvas.width  = 400;
    canvas.height = 200;
    parent.appendChild(canvas)
   
    // Then go through the django JSON line chart query data and pull out the the selected field and element
    var lineData = {{graph_json |safe}}
    console.log(lineData)
    var adultList = [];
    var eggList = [];
    var tappedList = [];
    var adultDict = {}
    
    //alert(lineData);
    var i=0;
    jsonLen = Object.keys(lineData).length
    console.log(jsonLen)
    while (i < jsonLen) {
        var adultDict = {}
        var eggDict = {}
        var tappedDict = {}
        var dateKey = String(lineData[i].date)
        var dataDate = moment(dateKey, "YYYY/MM/DD").format('YYYY-MM-DD');
        console.log(dataDate)
        adultDict['x'] = dataDate
        adultDict['y'] = String(lineData[i].adults)
        eggDict['x'] = dataDate
        eggDict['y'] = lineData[i].eggs
        tappedDict['x'] = dataDate
        tappedDict['y'] = String(lineData[i].tapped)
        adultList.push(adultDict)
        eggList.push(eggDict)
        tappedList.push(tappedDict)
        i++;
    }
    console.log(adultList)
    console.log(adultDict)
    var testData = [{x:moment().format(), y:'2'}];
    console.log(testData)
    var ctx = document.getElementById("myChart").getContext('2d');
    if (myLineChart != null) {
        myLinechart.data.labels = 'Adult';
        myLinechart.data.datasets[0].data = adultDict;
        myLineChart.update();
    }
    else {
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Adults',
                    data: adultList,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderWidth: 3,
                    borderColor: 'rgba(54, 162, 235, 1)',
                    fill: false,
                    pointHitRadius: 20,
                },
                {
                    label: 'Eggs',
                    data: eggList,
                    backgroundColor: 'rgba(50, 188, 22, 0.2)',
                    borderWidth: 3,
                    borderColor: 'rgba(50, 188, 22, 1)',
                    fill: false,
                    pointHitRadius: 20,
                },  
                {
                    label: 'Tapped',
                    data: tappedList,
                    backgroundColor: 'rgba(255, 60, 60, 0.2)',
                    borderWidth: 3,
                    borderColor: 'rgba(255, 60, 60, 1)',
                    fill: false,
                    pointHitRadius: 20,
                }, 
                ]
            },
            options: {
                duration: 2000,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }],
                    xAxes: [{
                        type: 'time',
                        time: {
                            displayFormats: {
                                hour: 'MMM D'
                        }
                    }
                    }]
                },
                showLine: true
            }
        });
    }
}
</script>

<script>
function reDrawLineChart(graph_json){
    var lineData = JSON.parse(graph_json)
    // First tear down the old chart to avoid conflict
    var element = document.getElementById("myChart");
    var parent = element.parentNode
    element.parentNode.removeChild(element);
    var canvas = document.createElement('canvas');
    canvas.id = "myChart";
    canvas.width  = 400;
    canvas.height = 200;
    parent.appendChild(canvas)
    
    // Then go through the django JSON line chart query data and pull out the the selected field and element
    console.log(lineData)
    console.log(lineData[0])
    var adultList = [];
    var eggList = [];
    var tappedList = [];
    var adultDict = {}
    
    //alert(lineData);
    var i=0;
    jsonLen = Object.keys(lineData).length
    console.log(jsonLen)
    while (i < jsonLen) {
        var adultDict = {}
        var eggDict = {}
        var tappedDict = {}
        var dateKey = String(lineData[i].date)
        var dataDate = moment(dateKey, "YYYY/MM/DD").format('YYYY-MM-DD');
        console.log(dataDate)
        adultDict['x'] = dataDate
        adultDict['y'] = String(lineData[i].adults)
        eggDict['x'] = dataDate
        eggDict['y'] = lineData[i].eggs
        tappedDict['x'] = dataDate
        tappedDict['y'] = String(lineData[i].tapped)
        adultList.push(adultDict)
        eggList.push(eggDict)
        tappedList.push(tappedDict)
        i++;
    }
    console.log(adultList)
    console.log(adultDict)
    var testData = [{x:moment().format(), y:'2'}];
    console.log(testData)
    var ctx = document.getElementById("myChart").getContext('2d');
    if (myLineChart != null) {
        myLinechart.data.labels = 'Adult';
        myLinechart.data.datasets[0].data = adultDict;
        myLineChart.update();
    }
    else {
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Adults',
                    data: adultList,
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderWidth: 3,
                    borderColor: [
                        'rgba(54, 162, 235, 1)'
                    ],
                    fill: false,
                    pointHitRadius: 20,
                },
                {
                    label: 'Eggs',
                    data: eggList,
                    backgroundColor: [
                        'rgba(50, 188, 22, 0.2)',
                    ],
                    borderWidth: 3,
                    borderColor: [
                        'rgba(50, 188, 22, 1)'
                    ],
                    fill: false,
                    pointHitRadius: 20,
                },  
                {
                    label: 'Tapped',
                    data: tappedList,
                    backgroundColor: [
                        'rgba(255, 60, 60, 0.2)',
                    ],
                    borderWidth: 3,
                    borderColor: [
                        'rgba(255, 60, 60, 1)'
                    ],
                    fill: false,
                    pointHitRadius: 20,
                }, 
                ]
            },
            options: {
                duration: 2000,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }],
                    xAxes: [{
                        type: 'time',
                        time: {
                            displayFormats: {
                                hour: 'MMM D'
                        }
                    }
                    }]
                },
                showLine: true
            }
        });
    }
}
</script>
{% endblock %}
