{% extends 'base.html' %} 
{% block title %}Manage Leaf Samples{{ block.super }}{% endblock %} 

{% block header %}
<style>
/* Container/Sidebar Style */
.wrapper {
        display: grid;

        /*  Define the size and number of columns in our grid. 
        The fr unit works similar to flex:
        fr columns will share the free space in the row in proportion to their value.
        We will have 2 columns - the second will be 3x the size of the first.  */
        grid-template-columns: 25vw 3fr;

        /*  Assign the grid areas we did earlier to specific places on the grid. 
            First row is all header.
            Second row is shared between main and sidebar.
            Last row is all footer.  */
        grid-template-areas: 
            "header header"
            "sidebar main"

        /*  The gutters between each grid cell will be 60 pixels. */
        grid-gap: 60px;
        grid-auto-rows: minmax(100px, auto);
        }
   
    .main {
        grid-area: main;
        grid-column: 2;
        margin-right: 5vw;
        margin-left: 3vw;
        grid-row: 1
    }
    .sidebar {
        grid-area: sidebar;
        grid-column: 1;
        grid-row: 1
    }
</style>

<style>
td, th {
  text-align: center;
  vertical-align: middle;
}
</style>

<style>
/* Tab Style */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
 
    width: 70%;
    border-left: none;
    height: 300px;
} 
</style>

{% endblock %}

{% block content %}

<ul class="nav nav-tabs" role="tablist">
    <li><a id="tab1" href="#chart1" role="tab" data-toggle="tab">Psyllids</a></li>
    <li><a id="tab2" href="#chart2" role="tab" data-toggle="tab">Irrigation</a></li>
    <li class="active"><a id="tab3" href="/manage_labelle/leaf_samples" >Leaf Samples</a></li>
</ul>

<div class="wrapper"> 
    <aside class="sidebar" style="margin-left: 0.5vw">
        <div class="tab" style="margin-top: 5vh; width:100%">
            <button class="tablinks active" onclick="openCity(event, 'London', 'click')">Fields</button>
            <button class="tablinks" onclick="openCity(event, 'Paris', 'click')">Nutrition Ranges</button>
        </div>
    </aside>
    <section class="main"> 
        <div id="London" class="tabcontent" style="width:100%">
            <br>
            <form id="editForm" method="post" action="/manage_labelle/leaf_samples_edit_field" class="form-horizontal">
                {% csrf_token %}
                <input type="button" class="btn btn-primary" value="Add Field" onclick="window.location.href='/manage_labelle/leaf_samples_add_field'"
                       style="float: right;margin-bottom:20px;width: 150px;">
                <table style="width:100%" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Field Name</th>
                            <th>Variety</th>
                            <th>Location</th>
                            <th>Age</th>
                            <th>Irrigation</th>
                        </tr>
                    </thead>
                    {% for field in leafFields %}
                        <tr>
                            <td>{{field.field_name}}</td>
                            <td>{{field.tree}}</td>
                            <td>{{field.location}}</td>
                            <td>{{field.age}}</td>
                            <td>{{field.irrigation}}</td>
                            <td> <input type="button" value="Edit" id={{field.id}} onclick="editFields(this.id)"></td>
                        </tr>
                    {% endfor %}
                </table>
                <input type="hidden" id="editId" name="editId" value="">
                <input type="hidden" id="flag" name="flag" value="postId">
            </form>
        </div>
        <div id="Paris" class="tabcontent" style="width:100%">
            <br>
            <form id="nutritionForm" method="post" action="/manage_labelle/leaf_samples_edit_nutrient" class="form-horizontal">
                {% csrf_token %}
                <input type="button" class="btn btn-primary" value="Add Element" onclick="window.location.href='/manage_labelle/leaf_samples_add_nutrient'"
                       style="float: right;margin-bottom:20px;width: 150px;">
                <table style="width:100%" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Element</th>
                            <th>Units</th>
                            <th>CSV Header</th>
                            <th>Deficient</th>
                            <th>Low</th>
                            <th>Optimum</th>
                            <th>High</th>
                            <th>Excess</th>
                        </tr>
                    </thead>
                    {% for element in nutrients %}
                        <tr>
                            <td>{{element.element}}</td>
                            <td>{{element.metric}}</td>
                            <td>{{element.column_header}}</td>
                            <td>{{element.deficient}}</td>
                            <td>{{element.low}}</td>
                            <td>{{element.optimum}}</td>
                            <td>{{element.high}}</td>
                            <td>{{element.excess}}</td>
                            <td> <input type="button" value="Edit" name={{element.id}} onclick="editNutrients(this.name)"></td>
                        </tr>
                    {% endfor %}
                </table>
                <input type="hidden" id="nutrientId" name="nutrientId" value="">
                <input type="hidden" id="flag" name="flag" value="postId">
            </form>
        </div>
    </section>
</div>

<script>
openCity("event", 'London', 'load')
function openCity(evt, cityName, type) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    if(type=='click'){
        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
    
        // Show the current tab, and add an "active" class to the link that opened the tab
        
        evt.currentTarget.className += " active";
    }
    document.getElementById(cityName).style.display = "block";
} 
</script>
    
<script>
function addField() {
    document.getElementById("addField").style["display"] = "";
    document.getElementById("addFieldButton").style["display"] = "";
}
</script>

<script>
    function editFields(buttonId){
        document.getElementById("editId").value = buttonId;
        document.getElementById("editForm").submit(); 
    }
</script>

<script>
    function editNutrients(buttonId){
        document.getElementById("nutrientId").value = buttonId;
        document.getElementById("nutritionForm").submit(); 
    }
</script>

<script>
    var fieldData = "{{leafFields |escapejs}}";
    console.log(fieldData)
</script>

{% endblock %}
